{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"</script>

    <!-- Custom js -->
    <script src={% static 'main.js' %}></script>
    <title>Document</title>


</head>
<body>

</body>
</html>