@import '../../../Styles/global.scss';

.infoBox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0px;

    width: 100%;
    margin-top: 70px;
    top: 20%;
}

.infoContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 140px;
    width: 22%;
    border-radius: 2px;
    box-shadow: 1px 3px 5px 3px $blackScale8;
    
    img {
        display: flex;
        align-items: flex-end;
        width: 95%;
        margin-left: 10%;
    }

    p {
        display: flex;
        margin-left: 30px;
        margin-top: 10px;

        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 130%;
    }
 
}
        
.businessContainer{
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 100%;


    .newBusinessNum{
        height: 45px;
        display: flex;
        margin-top: -5%;
        margin-left: 7%;
        color: $yellowScale1;
        font-size: 40px;
        list-style: none;
    }

    .newBusinesText {
        display: flex;
        height: 20px;
        margin-top: -2%;
        margin-left: 10px;
        display: flex;
        font-size: 15px;
    }

    .revenueNum{
        display: flex;
        margin-top: -4%;
        margin-left: 8%;
        color: $yellowScale1;
        font-size: 30px;
        list-style: none;
    }
}