.clientsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 0px;

    width: 100%;
    height: 800px;
    left: 10%;
    top: 830px;

    

    img {
        width: 100%;
        height: 100%;
    }
}