.graphContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 70px;
    width: 80%;
    height: 351px;
    left: 10%;
    top: 50%;

    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);

    p {
        position: static;
        width: 180px;
        height: 28px;
        top: calc(50% - 28px/2);

        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 28px;


        color: #000000;


        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px 10px;
    }
}

.legendaContainer {
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.legendaLine {
    display: flex;
    align-items: center;
}

.lineInv {
    position: flex;
    width: 61px;
    height: 0px;
    left: 61px;
    top: 10px;

    /* Amarelo/amarelo-2 */

    border: 4px solid #BA9932;
    border-radius: 10px;
    transform: rotate(180deg);

    /* Inside auto layout */
}

.lineVar{
    position: flex;
    width: 61px;
    height: 0px;
    left: 61px;
    top: 10px;
    
    margin-left: 10px;
    border: 4px solid green;
    border-radius: 10px;
    transform: rotate(180deg);
}

.lineFixa {
    position: flex;
    width: 61px;
    height: 0px;

    border: 4px solid black;
    border-radius: 10px;
    transform: rotate(180deg);
}

.lineTextInv {
    width: 130px;
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
}

.lineTextVar {
    width: 85px;
    margin-left: 10px;
    margin-right: 15px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
}

.lineTextFixa {
    width: 60px;
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
}

.calendarioContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 10px;

    position: static;
    text-align: start;
    width: 90px;
    height: 30px;
    left: 581px;
    top: 0px;

    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 0px 30px;

    .dateText {
        position: static;
        width: 32px;
        height: 22px;
        left: 10px;
        top: calc(50% - 22px/2);

        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 22px;


        color: #414141;

        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px 10px;
    }

    .calendarioIcon {
        width: 20px;
        height: 20px;
    }
}

.pointContainer {
    display: flex;
    flex-direction: row;
    align-items: center;

    position: static;
    width: 45px;
    height: 30px;

    flex: none;
    order: 4;
    flex-grow: 0;
    margin: 0px 30px;

    img {
        width: 30px;
    }

}